typeattribute xiaomiparts_app mlstrustedsubject;

app_domain(xiaomiparts_app)

# Access standard system services
allow xiaomiparts_app app_api_service:service_manager find;

# Allow xiaomiparts_app to find *_service
allow xiaomiparts_app {
  activity_service
  activity_task_service
  app_api_service
  audio_service
  audioserver_service
  autofill_service
  cameraserver_service
  drmserver_service
  gpu_service
  media_session_service
  mediaextractor_service
  mediametrics_service
  mediaserver_service
  sensorservice_service
  storagestats_service
  surfaceflinger_service
  tethering_service
}:service_manager find;

# Allow xiaomiparts_app read and write /data/data subdirectory
allow xiaomiparts_app system_app_data_file:dir create_dir_perms;
allow xiaomiparts_app system_app_data_file:{ file lnk_file } create_file_perms;

# Allow binder communication with gpuservice
binder_call(xiaomiparts_app, gpuservice)

# Allow xiaomiparts_app to read and write to cgroup/sysfs_leds/sysfs_thermal
allow xiaomiparts_app sysfs_leds:dir search;
allow xiaomiparts_app {
  cgroup
  sysfs_leds
  sysfs_thermal
}:{ file lnk_file } rw_file_perms;

# Allow xiaomiparts_app to get settingsdebug.instant.packages prop
get_prop(xiaomiparts_app, settingslib_prop)

# Allow xiaomiparts_app to read and write to proc_nvt_feature
allow xiaomiparts_app proc_nvt_feature:file rw_file_perms;

# dont allow xiaomiparts_app to access some rendering and resampling props
# persist.input.velocitytracker.strategy
# renderthread.skia.reduceopstasksplitting
# ro.input.resampling
# viewroot.profile_rendering
dontaudit xiaomiparts_app default_prop:file read;

# Allow xiaomiparts_app to write property_socket's sock_file
allow xiaomiparts_app property_socket:sock_file write;

# Allow xiaomiparts_app to connectto init's unix_stream_socket
allow xiaomiparts_app init:unix_stream_socket connectto;

# Allow xiaomiparts_app to set prop
set_prop(xiaomiparts_app, system_prop)
